* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(26, 5, 26);
}
.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("./images/bg-stars.svg") no-repeat fixed,
    url("./images/pattern-hills.svg") center bottom no-repeat;
}
#banner {
  min-width: 80vw;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 5vh;
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 4vh;
  letter-spacing: 5px;
}
.timer-box {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  border-radius: 15px;
  filter: drop-shadow(hsl(0, 0%, 0%) 1px 10px 0px);
  background-color: hsl(236, 21%, 26%);
  height: 20vh;
  width: 20vh;
  font-size: 8vh;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  color: hsl(345, 95%, 68%);
/* 
  animation-name: arrow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
.day-box, .hour-box, .minute-box, .second-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  background-color: transparent;
}

.time-stamp {
  /* width: 20vh; */
  text-align: center;
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  margin: 10px;
}


.line{
  position: relative;
  bottom: 11vh;
  background-color: rgba(53, 53, 53, 0.685);
  width: 20vh;
  height: 1px;
}

.cutout{
  position: relative;
  width:1.2vh;
  height:2vh;
  background-color: black;
  z-index: 100;
}

.cutout1{
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  right: 9.5vh;
  top: 14vh;

}

.cutout2{
  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
  left: 9.4vh;
  top: 12vh;
}



@keyframes arrow {
    0% {
      /* left: 0%; */
      transform: rotateX(0deg);
    }
    50% {
      /* left: 90%; */
      transform: rotateX(90deg);
    }
    /* 99% {
      transform: rotateX(180deg);
    } */
    100% {
      /* left: 0%; */
      transform: rotateX(0deg);
    }
  }

@media (max-width:1280px) {
  .timer{
    width: 20vw;
    height: 20vw;
    margin: 1vw;
    font-size: 10vw;
  }

  .time-stamp{
    max-width: 20vw;
    font-size: 2.5vw;
  }

  .line{
    width: 20vw;
    display: none;
  }

  .cutout1, .cutout2{
    display: none;
  }
}

  /* Snowfall animation */
  .snow {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */
    z-index: 10; /* Ensure snow is on top */
    background: transparent;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: snowfall 5s linear infinite; /* Adjust animation duration */
    opacity: 0.7; /* Adjust opacity */
}

@keyframes snowfall {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
      opacity: 0.5;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.progress-bar {
  width: calc(100% - 20px); /* Full width on mobile */
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  margin: 60px 10px 15px;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  width: 0;
  background-color: hsl(345, 95%, 68%); /* Teal progress color */
  border-radius: 20px;
  transition: width 0.8s ease-out; /* Smoother transition */
}

.progress-percentage {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace; /* Monospace font for percentage */
  background: transparent;
}